@import "~bootstrap/scss/bootstrap";

$backgroundcolor1: #2a2e35;
$minmargin: 0px;
$nul : 0;
$defaultmargin: 20px;
$maxwidth: 100%;
$absolutewhite : white;
$niceblue: #399fce;

body {
    background-color: white;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.active {
    background-color: $niceblue;
    color: white;
}


.topnav .icon {
    display: none;
}


.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: $absolutewhite;
}



.dropdown-content a:hover {
    background-color: $absolutewhite;
    color: black;
}


.dropdown:hover .dropdown-content {
    display: block;
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}


@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.margins {
    margin-top: $defaultmargin;
    margin-bottom: $defaultmargin;
}

.blacksection {
    background-color: $backgroundcolor1;
}

.bluetextcolor {
    color: $niceblue;
}

.whitetextcolor {
    color: $absolutewhite;
}

.unstyled {
    list-style: none;
}

li {
    display: inline;
}

.imgportofolio {
    max-width: $maxwidth;
    max-height: $maxwidth;
}

.noleftright {
    margin-left: $minmargin;
    margin-right: $minmargin;
}

.bordersolid {
    border-style: solid;
    border-color: gray;
    border-width: 2px;
}

.divinline {
    float: left;
}

.unolist {
    display: flex;
    align-items: center;
    padding-left: $nul;
    margin: $nul;
}

.footer {
    margin-bottom: $nul;
    width: $maxwidth;
    background-color: $niceblue;
    color: $absolutewhite;
    text-align: left;
}